.page {
  min-height: 100vh;
}

.shell {
  width: 100%;
  max-width: 36rem;
  margin: 0 auto 4rem;
  display: grid;
  /*gap: 1rem;*/
  align-content: center;
}

.panel {
  background: var(--surface);
  border-radius: 4px;
  box-shadow: var(--shadow);
  padding: 2rem;
  margin-bottom: 1rem;
}

.panel--message {
	background-color: var(--msg-bg);
}

.flex {
  display: flex;
}

@media (max-width: 30rem) {
  .page {
    padding: 0.75rem;
  }

  .panel {
    padding: 1rem;
  }

  .flex {
    display: block;
  }
}

.ticket-info {
  background-color: #f9f9f9;
  padding: 1rem 2rem;
}